body {
  background: #eee;
  color: #666666;
}

.navbar {
  margin-bottom: 10px; 
}
  /* line 32, ../sass/style.scss */
.navbar .navbar-inner {
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px; 
}

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; 
}
    
@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
    
#spinner { height: 300px }

.panel-card {
  color: rgba(0,0,0,1);
  font-size: 2.2em;
  font-weight: bold;
  height: 300px;
  width: 228px;
  -webkit-box-shadow: 3px 2px 5px #aaa;
  -moz-box-shadow: 3px 2px 5px #aaa;
  box-shadow: 3px 2px 5px #aaa; 
}

.panel-card small {
  font-size: 0.3em;
}

.panel-card .panel-body {
  position: relative;
  z-index : 1;
  height: 280px;
}

.panel-card .panel-footer {
  position: relative;
  bottom: 5px;
  z-index : 2;
  color: rgba(0,0,0,1);
  padding: 0 5px;
  font-weight: normal;
  margin: 0;
  font-size: 0.3em;
  min-height: 24px;
}

.panel-black {
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
}

.box {
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
}

.spacer-20 {
  min-height: 20px;
}

.debug {
  font-size: 0.8em;
  color: rgba(200,200,200,0.8);
  padding: 5px 15px;
}

.chatBox .well {
  height: 200px;
  overflow-y: scroll;
  word-wrap: break-word;
}