<template name="cardsList">
  <div class="cards">
    <div class="row">
      {{#each cardsBlack}}
        {{> cardItemBlack}}
      {{/each}}
    </div>
    <div class="row">
      {{#each cardsWhite}}
        {{> cardItemWhite}}
      {{/each}}
    </div>
  </div>
</template>

<template name="cardItemBlack">
    <div class="col-sm-3"> 
      <div class="panel panel-card panel-black">
        <div class="panel-body">
          {{cardText}}
        </div>
        <div class="panel-footer">
          <span class="glyphicon glyphicon-circle-arrow-right"></span> {{cardDeck}} 
          <span class="badge pull-right">{{checkWhite}}</span>
        </div>
      </div>
    </div>        
</template>

<template name="cardItemWhite">
    <div class="col-sm-3"> 
      <div class="panel panel-card panel-default">
        <div class="panel-body">
          {{cardText}}
        </div>
        <div class="panel-footer">
          <span class="glyphicon glyphicon-circle-arrow-right"></span> {{cardDeck}}
        </div>
      </div>
    </div>        
</template>