<template name="cardSubmit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="cardText">Card-Text</label>
        <div class="controls">
            <input name="cardTitle" type="textfield" value="" placeholder="cardText"/>
        </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="cardIsBlack">Is Black</label>
      <div class="controls">    
        <input name="cardIsBlack" type="checkbox" class="make-switch" checked>
      </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>
