<template name="chatSingle">
  <div class="chatBox">
    <div class="row">
      <div class="col-sm-12">
        <div class="well">{{> chatSingleItem}}</div>
      </div>
    </div>
  </div>
  <div class="chatForm">  
    <div class="row">
      <div class="col-sm-12">
        {{> chatSingleForm}}
      </div>
    </div>
  </div>
</template>

<template name="chatSingleForm">
    <div class="form-group">
      <label class="sr-only" for="chatText">Chat Text</label>
      <input type="text" class="form-control col-xs-8" id="chatText" name="chatText" value="" placeholder="Chat ;-)">
    </div>
</template>

<template name="chatSingleItem">
  {{#each chats}}
    {{formatDate submittet}} - <strong>{{playerName}}:</strong> {{chatText}} <br>
  {{/each}}
</template>