<template name="roadmap">
  <div class="dev">
    <div class="row">
      <div class="col-sm-6">
        <h2>in Progress</h2>
        <p> aktuelles Changelog unter: <a href="https://github.com/skeltoras/cahSK" target="_blank">github - cahSK</a></p>
        <!-- panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Version 0.5 - Alpha</h3>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Seite: Laufendes Spiel</h4>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Funktionen: Karten & Decks</h4>
              </a>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped active"  role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                <span class="sr-only">10% in Progress</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end panel -->
        <!-- panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Version 0.4</h3>
          </div>
          <div class="panel-body">
            All done!
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">100% All Done</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end panel -->
        <!-- panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Version 0.3</h3>
          </div>
          <div class="panel-body">
            All done!
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">100% All Done</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end panel -->
        <!-- panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Version 0.2</h3>
          </div>
          <div class="panel-body">
            All done!
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">100% All Done</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end panel -->
        <!-- panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Version 0.1 - Pre Alpha</h3>
          </div>
          <div class="panel-body">
            All done!
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">100% All Done</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end panel -->
      </div>
      <div class="col-sm-6">
        <h2>To Do</h2>
        <!-- panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Version 0.5 - Alpha</h3>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Funktion: Spiele</h4>
                <p class="list-group-item-text">Inaktive Spiele nach einer bestimmten Zeit löschen</p>
                <p class="list-group-item-text">laufendes Spiel pausieren</p>
                <p class="list-group-item-text">laufendes Spiel beenden</p>
                <p class="list-group-item-text">Eigenes Spiel löschen</p>
                <p class="list-group-item-text">Fertige Spiele löschen öder archivieren?</p>
                <p class="list-group-item-text">Übersichts-Seite für fertige Spiele?</p>
                <p class="list-group-item-text">Hitliste: Spieler / Gewinne?</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Funktion: Startseite</h4>
                <p class="list-group-item-text">Aufteilung nach offen und laufend?</p>
              </a>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">0% Not startet</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end panel -->
        
        [...]
        
        <div class="spacer-20"></div>
        <!-- panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Version 0.8 - Beta</h3>
          </div>
          <div class="panel-body">
            Soon...
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">0% Not startet</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end panel -->
        
        <!-- panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Version 1.0 RC - Release</h3>
          </div>
          <div class="panel-body">
            Soon...
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">0% Not startet</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end panel -->
        
      </div>   
    </div>  
  </div>
</template>