<template name="gameSingle">
  {{#if checkPassword}}   
    {{> gameSingleModal}}
    {{> gameSingleItem}}
  {{else}}
    {{> gameSingleItem}}
  {{/if}}
  <div class="spacer-20"></div>
  <div class="panel panel-danger">
    <div class="panel-heading"> 
      Debug:
    </div>
    <div class="panel-body">
      {{debug}} 
    </div>
  </div> 
</template>

<template name="gameSingleItem">
  <div class="gameSingle">
    <div class="row">
      <!-- controlls -->
      <div class="col-sm-12"> 
        <div class="well well-sm">
          {{#if canStart}}
            <button type="button" class="btn btn-default begin">Starten</button>
          {{else}}
            <button type="button" class="btn btn-default" disabled="disabled">Starten</button>
          {{/if}}
          <button type="button" class="btn btn-default leave">Spiel verlassen</button>      
        </div>
      </div>            
    </div>
    <div class="spacer-20"></div>
    <div class="row">
      <div class="col-sm-3">
        {{> gameSinglePlayerlist}}
      </div>
      <div class="col-sm-9">
        {{#if ownPost}}
          {{> gameSingleEdit}}
        {{else}}
          {{> gameSingleShow}}  
        {{/if}}  
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {{> gameSingleChat}}
      </div>
    </div>
  </div> 
</template>

<template name="gameSingleModal">
  <!-- Modal -->
    <div class="modal fade in show" id="passModal_{{_id}}" tabindex="-1" role="dialog" aria-labelledby="passModal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <form class="form-horizontal" role="form">    
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" id="gamePassCheck" name="gamePassCheck" placeholder="Passwort">
                  <input type="hidden" class="form-control hide" id="gameID" name="gameID" value="{{_id}}">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <input type="submit" value="Beitreten" class="btn btn-default pull-right"/>
                </div>
              </div>
              &nbsp;
            </form>
          </div>
        </div>
      </div>
    </div>
</template>

<template name="gameSinglePlayerlist">
  <div class="panel panel-default">
    <div class="panel-heading">
      Spielerliste
    </div>
    <div class="panel-body">
      {{{players}}}
    </div>
  </div> 
</template>

<template name="gameSingleEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      Spiel {{gameTitle}} bearbeiten
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">    
        <div class="form-group">
          <label for="gameTitle" class="col-sm-3 control-label">Spielname</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="gameTitle" name="gameTitle" value="{{gameTitle}}" placeholder="">
          </div>
        </div>        
        <div class="form-group">
          <label for="scoreMax" class="col-sm-3 control-label">Max. Score</label>
          <div class="col-sm-3">
            <select class="form-control" name="scoreMax" id="scoreMax">
              {{> selectScoreMax}}
            </select>
          </div>
        </div>        
        <div class="form-group">
          <label for="playersMax" class="col-sm-3 control-label">Max. Spieler</label>
          <div class="col-sm-3">
            <select class="form-control" name="playersMax" id="playersMax">
              {{> selectPlayersMax}}
            </select>
          </div>
        </div>   
        <div class="form-group">
          <label for="spectatorsMax" class="col-sm-3 control-label">Max. Zuschauer</label>
          <div class="col-sm-3">
            <select class="form-control" name="spectatorsMax" id="spectatorsMax">
              {{> selectSpectatorsMax}}
            </select>
          </div>
        </div>       
        <div class="form-group">
          <label class="col-sm-3 control-label">Decks</label>
          <div class="col-sm-9">
            {{> checkDecks}}
          </div>
        </div>        
        <div class="form-group">
          <label for="gamePass" class="col-sm-3 control-label">Passwort</label>        
          <div class="col-sm-6">
            <input type="password" class="form-control" id="gamePass" name="gamePass" value="{{gamePass}}" placeholder="Game password">
          </div>
          <div class="col-sm-3">
            <label for="showPassword" class="checkbox-inline">
              <input type="checkbox" id="showPassword" name="showPassword"> anzeigen
            </label>
          </div>
        </div>
    
        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Erstellen" class="btn btn-primary"/>
          </div>
        </div>
      </form>
    </div>
  </div>      
</template>

<template name="gameSingleShow">
  <div class="panel panel-default">
    <div class="panel-heading">
      Spiel {{gameTitle}}: Einstellungen
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">    
        <div class="form-group">
          <label for="gameTitle" class="col-sm-3 control-label">Spielname</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="gameTitle" name="gameTitle" value="{{gameTitle}}" placeholder="" disabled>
          </div>
        </div>        
        <div class="form-group">
          <label for="scoreMax" class="col-sm-3 control-label">Max. Score</label>
          <div class="col-sm-3">
            <select class="form-control" name="scoreMax" id="scoreMax" disabled>
              {{> selectScoreMax}}
            </select>
          </div>
        </div>        
        <div class="form-group">
          <label for="playersMax" class="col-sm-3 control-label">Max. Spieler</label>
          <div class="col-sm-3">
            <select class="form-control" name="playersMax" id="playersMax" disabled>
              {{> selectPlayersMax}}
            </select>
          </div>
        </div>   
        <div class="form-group">
          <label for="spectatorsMax" class="col-sm-3 control-label">Max. Zuschauer</label>
          <div class="col-sm-3">
            <select class="form-control" name="spectatorsMax" id="spectatorsMax" disabled>
              {{> selectSpectatorsMax}}
            </select>
          </div>
        </div>       
        <div class="form-group">
          <label class="col-sm-3 control-label">Decks</label>
          <div class="col-sm-9">
            {{> checkDecks}}
          </div>
        </div>        
        <div class="form-group">
          <label for="gamePass" class="col-sm-3 control-label">Passwort</label>        
          <div class="col-sm-6">
            <input type="password" class="form-control" id="gamePass" name="gamePass" value="{{gamePass}}" placeholder="Game password" disabled>
          </div>
          <div class="col-sm-3">
            <label for="showPassword" class="checkbox-inline">
              <input type="checkbox" id="showPassword" name="showPassword" disabled> anzeigen
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>      
</template>

<template name="gameSingleChat">
  <div class="panel panel-default">
    <div class="panel-body">
     {{> chatSingle }}
    </div>
  </div>      
</template>